$lightBorderColor=#f5f5f5
$shadowColor=#C4C4C4
$borderColor=#D2D2D2
$backgroundColor=#EBEBEB
$commentContentsColor=#808080

$CherryBlossomPinkColor=#FEEEED
$CHILLNNLightPinkColor=#FFCECE
$CHILLNNBrightPinkColor=#F6B3B3
$CHILLNNBlueColor=#c9e4ff
$LIGHTPINKCOLOR=#FFEBEB